name: Publish new release

# Controls when the workflow will run
on:
  release:
    types: [published]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  build:  # This workflow contains a single job called "build"
    name: Create Resource Pack
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # A non-shallow repository clone is required
      - name: Run PackSquash
        uses: ComunidadAylas/PackSquash-action@v4
        with:
          packsquash_version: latest # Uses the latest PackSquash release supported by the action
          options: "./PackSquash-options.toml"

  publish:
    name: Publish to Modrinth and Curseforge
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: Optimized pack
      - name: Test artifact download
        run: ls -R
      - name: Rename Resource pack
        run: mv pack.zip MustacheStorage${{ github.event.release.tag_name }}.zip
      - name: Test rename
        run: ls -R
      - uses: Kir-Antipov/mc-publish@v3.3
        name: Publish to Modrinth and Curseforge
        with:
          modrinth-id: gGQKxqx3
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: 934181
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
        
          files: MustacheStorage${{ github.event.release.tag_name }}.zip

          game-versions: |
            1.20
            1.20.1
            1.20.2
          
          loaders: minecraft

          dependencies: faithful(optional){modrinth:w0TnApzs}{curseforge:436482}
